version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: go_excel_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: excelprocessor_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: